/*
 * @Author: Chao Yang 
 * @Date: 2019-03-08 09:18:40 
 * @Last Modified by: Chao Yang
 * @Last Modified time: 2019-03-08 16:45:32
 */
#nav-header {
    .css-logo-text {
        font-family: 'Pacifico', serif;
    }

    .strong1 {
        position: absolute;
        left: 10px;
        top: 20px;
    }

    .strong2 {
        position: absolute;
        top: 20px;
    }
}